<div id="<%= dom_id integration %>">
  <p>
    <strong>Name:</strong>
    <%= integration.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= integration.description %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= integration.type %>
  </p>

</div>
