<h1>Editing recurrence</h1>

<%= render "form", recurrence: @recurrence %>

<br>

<div>
  <%= link_to "Show this recurrence", @recurrence %> |
  <%= link_to "Back to recurrences", recurrences_path %>
</div>
