<p style="color: green"><%= notice %></p>

<h1>Plan teams</h1>

<div id="plan_teams">
  <% @plan_teams.each do |plan_team| %>
    <%= render plan_team %>
    <p>
      <%= link_to "Show this plan team", plan_team %>
    </p>
  <% end %>
</div>

<%= link_to "New plan team", new_plan_team_path %>
