<div id="<%= dom_id field_template %>">
  <p>
    <strong>Name:</strong>
    <%= field_template.name %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= field_template.data %>
  </p>

  <p>
    <strong>Data source:</strong>
    <%= field_template.data_source_id %>
  </p>

</div>
