<h1>Editing field template</h1>

<%= render "form", field_template: @field_template %>

<br>

<div>
  <%= link_to "Show this field template", @field_template %> |
  <%= link_to "Back to field templates", field_templates_path %>
</div>
