<div id="<%= dom_id team %>">
  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= team.size %>
  </p>

  <p>
    <strong>Users:</strong>
    <%= team.users_id %>
  </p>

</div>
